$text-primary-color: #ffffff;
$text-secondary-color: #10141E;
$text-secondary-color: #86888D;
$bg-primary-color: #10141E;
$bg-secondary-color: #171E31;
$bg-box-color:#171E31;
$bg-box-color2:#0F766E;
$bg-box-color3: #0E7490;
$default-icon-color: #5A6A90;
$logo-color: #FC4747;
$hover-icons-color: #FC4747;
$active-icon-color: #ffffff;
$btn-primary-color: #5A6A90;