@mixin flex {
 display: flex;
 align-items: center;
}
@mixin justFlex{
 display: flex;
}

@mixin flexCenter {
 display: flex;
 justify-content: center;
 align-items: center;
}

@mixin flexSpaceBetween {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

@mixin flexColumn{
 display: flex;
 flex-direction: column;
}
@mixin flexColumReverse{
 display: flex;
 flex-direction: column-reverse;
}
@mixin odd-even-styling($odd-color, $even-color){
 div:nth-child(odd){
  background-color: $odd-color;
 }
 div:nth-child(even){
  background-color: $even-color;
 }
}
@mixin genres{
 flex-wrap: wrap;
 gap: 0.9rem;
 margin-top: 2.5rem;
} 
@mixin CollectionWrapper{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
 column-gap: 1.75rem;
 row-gap: 1.5rem;
}
@mixin CollectionWrapperXS{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
}