@use '../../abstract/mediaQuery.scss' as *;

@media #{$media-mobile-xsm}{
 .form{
  column-gap: 1.5rem;

  &_Icon{
   width: 1.5rem;
   height: 1.1rem;
   min-width: 1.5rem;
   min-height: 1.1rem;
  }

  &_input{
   font-size: 1rem;
  }
 }
}