@use './color.scss' as *;
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 background-color: $bg-primary-color;
 color: $text-primary-color;
}
li{
 list-style: none;
}
a{
 text-decoration: none;
 color: inherit;
}